<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.nssball284819" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Golf Awsum</name>
  <description>
        
    </description>
  <author email="team4@nss.com" href="github.com/kadowki">
      Shruti, Michael, Juan, Dave
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="orientation" value="portrait" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>